body{
    text-align: center;
    font-family: Arial;
    display: grid;
    grid-template-areas: "head head head"
    "hora Padoru Subir";
    gap: 3vh;
}

header{
    grid-area: head;
    background-color: bisque;
    border-radius: 5vh;
}

article{
    border:aquamarine dotted 1px;
    border-radius: 5vh;
    background-color: aqua;
    height: 40vh;
}

.hora{
    grid-area: hora;
}
.Padoru{
    grid-area: Padoru;
}

.Subir{
    grid-area: Subir;
}

input{
    border: none;
    text-align: center;
}

input:hover{
    border: none;
}

button{
    width: 10vh;
    height: 5vh;
}